<form [formGroup]="userForm" (ngSubmit)="onSubmitUserForm(userForm)">
    <div>
        <input type="text" formControlName="fname" placeholder="First name" required/>
    </div>

    <div>
        <input type="text" formControlName="lname" placeholder="Last name" required/>
    </div>

    <div>
        <textarea placeholder="Address" formControlName="address"></textarea>
    </div>

    <div>
        <label><input type="checkbox" formControlName="checkbox" /> Checkbox</label>
    </div>

    <div>
        <label><input type="radio" formControlName="gender" value="0" name="gender" /> Male</label>
        <label><input type="radio" formControlName="gender" value="1" name="gender" /> Female</label>
    </div>

    <div>
        <select placeholder="Select City" formControlName="city">
            <option value="" selected>Select City</option>
            <option value="ahmedabad">Ahmedabad</option>
            <option value="1">Gandhinagar</option>
        </select>
    </div>

    <div>
        <button type="submit" [disabled]="!userForm.valid">Submit</button>
    </div>
</form>